<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Module de confort </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
      <div class="chart-container"  style="display:inline-block;  width: 400px; height: 400px">
        <canvas  id="MyChart" >{{ chart }}</canvas>
  </div>
  </div>
  </div>

<!-- <div class="card border border-info shadow-0 mb-3" style="width: 30rem; height:max-content;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div> -->