<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"> 
        Add New Devices
    </div>
    <div class="page__content shadow p-3 position-relative   ">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <table class="table text-align: center justify-content: space-between">
                            <tbody>
                                <tr>
                             
                                    <td>Module Climatique</td>
                                    <td class="td-actions text-right">
                                        <button  mat-fab type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"  (click)="openDialog()">
                                            <!-- <i class="material-icons">edit</i> -->
                                            <mat-icon>create</mat-icon>
                                        </button>                                            
                                    
                                    </td>
                                </tr>
                                <tr>
                                 
                                    <td>Module de Présence</td>
                                    <td class="td-actions text-right">
                                        <button  mat-fab type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" >
                                            <!-- <i class="material-icons">edit</i> -->
                                            <mat-icon>create</mat-icon>
                                        </button>                                            
                                 
                                             
                                    </td>
                                </tr>
                                <tr>
                               
                                    <td> Module de Confort</td>
                                    <td class="td-actions text-right">
                                        <button  mat-fab type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" >
                                            <!-- <i class="material-icons">edit</i> -->
                                            <mat-icon>create</mat-icon>
                                        </button>                                            
                                     
                                    </td>
                                </tr>
                                <tr>
                           
                                    <td>Module</td>
                                    <td class="td-actions text-right" >
                                      
                                        <button  mat-fab type="button"  matTooltip="Edit Task" [matTooltipPosition]="'above'" >
                                            <!-- <i class="material-icons">edit</i> -->
                                            <mat-icon>create</mat-icon>
                                        </button> 
                                         
                                        <button  mat-fab type="button"  matTooltip="Edit Task" [matTooltipPosition]="'above'" >
                                            <!-- <i class="material-icons">edit</i> -->
                                            <mat-icon>delete</mat-icon>
                                        </button>                                           
                                      
                                             
                                                              
                                </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <!-- <div class=" text-center">
                            <button type="button" class="btn btn-outline-info btn-lg ">Add all</button>
                       </div> -->
                    </div>




                  
    </div>
</div> -->
