.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 20px;
  }
  #content main .box-info li {
  padding: 20px;
  background: var(--light);
  border-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  grid-gap: 50px;
  }
  #content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border-color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  
  
  }
  #content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
  }
  #content main .box-info li:nth-child(2) .bx {
  background: var(--light-blue);
  color: var(--yellow);
  }
  #content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
  }
  #content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
  }
  #content main .box-info li .text p {
  color: var(--dark);	
  }
  
  .page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    //background-color: white;
    &__box {
      min-height: 120px;
      background: #7292c5;
      margin: 0 -1rem;
      font-size: 36px;
     // background-color: #2196F3;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: #E6ECED;
      background-color: white;
      //color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      //color: red;
    }
  }
  