<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2" style="background-color:_blank ;">Etage 1 </div>
  <div class="page__content shadow p-3 position-relative center">
    <br>
    <br>
    <!-- <div class="card border border-info shadow-0 mb-3" style="width: 30rem; height:max-content;">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-md-4">
            <i class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"
          ></i>
  
          </div>
        </div>
        
      </div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div> -->
<!-- <div class="container mt-4 center" >
  <div class="row " >
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-header bg-primary text-white">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <i class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"
                ></i>
        
                </div>
                  <div class="col">
                    <h3 class="display-3"></h3> 
                    <h6> NOT DETECTED</h6>
                  </div>
              </div>
          </div>
          <div class="card-footer">
               <h5>
              <a href="#" class="text-primary">View Details <i class="fa fa-arrow-alt-circle-right "></i></a>
            </h5>
          </div>     
</div>
</div> 



  </div>   
</div>
    -->
     

    <div class="blog_post">
      <div class="img_pod">
        <div class="col-md-4">
         <i class="fa fa-eye " ></i> 

        </div>
      </div>
      <div class="container_copy">
        <h3>Module de Presence</h3>
        <p>Ce module est consacré pour la detection de présence des personnes dans un bureau</p>
        <!-- <h3>12 January 2019</h3>
        <h1>CSS Positioning</h1>
        <p>The position property specifies the type of positioning method used for an element (static, relative, absolute, fixed, or sticky).</p> -->
        <a class="btn_primary" href='#' target="_blank"> DETECTED</a>
      </div>
      
    </div>


</div>
</div>