<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Etage 1 </div>
  <div class="page__content shadow p-3 position-relative">
<div class="container mt-5" >
  <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-primary text-white">
              <div class="row align-items-center">
                <div class="col">
                  <i class="fa fa-thermometer-half fa-4x"></i> 
                  </div>
                  <div class="col">
                    <h3 class="display-3">{{Tempval}}</h3> 
                    <h6> TEMPERATURE</h6>
                  </div>
              </div>
          </div>
          <div class="card-footer">
               <h5>
              <a href="#" class="text-primary">View Details <i class="fa fa-arrow-alt-circle-right "></i></a>
            </h5>
          </div>     
</div>
</div> 

<div class="col-md-4">
  <div class="card text-center">
    <div class="card-header bg-success text-white">
      <div class="row align-items-center">
        <div class="col">
          <!-- <i class="fas fa-tint fa-4x" ></i>  -->
          </div>
          <div class="col">
            <h3 class="display-3">{{Gazval}}</h3> 
            <h6>  GAZ</h6>
          </div>
      </div>
  </div>
  <div class="card-footer">
       <h5>
      <a href="#" class="text-success">View Details <i class="fa fa-arrow-alt-circle-right "></i></a>
    </h5>
  </div>     
</div>
</div> 
<div class="col-md-4">
  <div class="card text-center">
    <div class="card-header bg-warning text-white">
      <div class="row align-items-center">
        <div class="col">
          <i class="fas fa-tint fa-4x" ></i> 
          <!-- <i class="fa fa-thermometer-half fa-4x"></i>  -->
          </div>
          <div class="col">
            <h3 class="display-3">  {{Humival}}</h3> 
            <h6>HUMIDITY</h6>
          </div>
      </div>
  </div>
  <div class="card-footer">
       <h5>
      <a href="#" class="text-warning">View Details <i class="fa fa-arrow-alt-circle-right "></i></a>
    </h5>
  </div>     
</div>
</div> 


  </div>   
</div>
   
     

   


</div>
</div>