<!-- <div >
            
  <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"  ></app-sidenav>

  <app-body [collapsed]="isSideNavCollapsed"
          [screenWidth]="screenWidth"  >
         </app-body> 
</div> -->
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Etage 1 </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="chart-container" style="display:flexbox;  width: 700px; height: 300px" >
        <canvas  id="MyChart"></canvas>
      </div>
<!-- <div class="topnav">
  <h3>DHT WEB SERVER</h3>
</div>
<div class="content">
  <div class="cards">
    <div class="card temperature">
      <h4><i class="fas fa-thermometer-half"></i> TEMPERATURE</h4><p><span class="reading"><span id="temp_celcius">%TEMPERATURE_C%</span> &deg;C</span></p>
    </div>
    <div class="card temperature">
      <h4><i class="fas fa-thermometer-half"></i> TEMPERATURE</h4><p><span class="reading"><span id="temp_fahrenheit">%TEMPERATURE_F%</span> &deg;F</span></p>
    </div>
    <div class="card humidity">
      <h4><i class="fas fa-tint"></i> HUMIDITY</h4><p><span class="reading"><span id="hum">%HUMIDITY%</span></span></p>
    </div>
  </div>
</div> -->


</div>
</div>
</div>



















<!-- <div>
  <br>
    <div class="container">
        <div class="container">
          <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
              <div class="blocks" *ngIf="isLoggedIn">
                  <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
                      <mat-icon>add</mat-icon> Add 
                  </button>
              </div>
        </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Recent Model</h3>
          </mat-card-title>
          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="dataSource">
                  <ng-container matColumnDef="date_posted">
                    <mat-header-cell *matHeaderCellDef> Date Posted </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date_posted  | date: 'd/M/y'}} </mat-cell>
                  </ng-container>
                    <ng-container matColumnDef="title">
                      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="category">
                      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a
                            type="button">
                          <mat-icon class="icon">delete</mat-icon>
                        </a>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->



     


