<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"></div>
  <div class="page__content shadow p-3 position-relative">
    <section id="content">
      <main>
        <ul class="box-info">
          <li>
             <button mat-fab   class='bx bxs-thermometer'  >
             
            </button> 
            
            <!-- <box-icon type='solid' name='thermometer'></box-icon> -->
            <span class="text">
              <h3>Temperature</h3>
              <label class="switch">
                <input type="checkbox">
                <!-- <span class="slider round"></span> -->
              </label>
            </span>
          </li>
          <li>
            <button mat-raised-button class='bx bxs-droplet'  >
             
            </button> 
            
            <span class="text">
              <h3>Humidity</h3>
              <label class="switch">
                <input type="checkbox">
                <!-- <span class="slider round"></span> -->
              </label>
            </span>
          </li>
          <li>
            <button mat-raised-button class='bx bxs-bulb'  >
             
            </button> 
              
            <span class="text">
              <h3>Lighting</h3>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </span>
          </li>
        
          <li>
            <button mat-raised-button class='bx bxs-cross'  >
             
            </button> 
         <span class="text">
           <h3>Air Conditioner</h3>
           <label class="switch">
             <input type="checkbox">
             <span class="slider round"></span>
           </label>
         </span>
       </li>
        </ul>
      </main>
       
    </section>
    
 
    </div>
</div>

     